In [4]:
import pandas as pd

data_dir = '/home/cds-k/Desktop/centerpoint_out/val'
df = pd.read_csv(f'{data_dir}/test_dataset.csv')

In [6]:
df.head()

,Unnamed: 0,label,h_x_0,h_x_1,h_x_2,h_x_3,h_x_4,h_y_0,h_y_1,h_y_2,...,t_y_0,t_y_1,t_y_2,t_y_3,t_y_4,t_y_5,t_y_6,t_y_7,t_y_8,t_y_9
0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-10812.744141,-10812.762695,-10812.779297,-10812.787109,-10812.800781,-10812.778320,-10812.785156,-10812.759766,-10812.777344,-10812.768555
1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-10812.744141,-10812.762695,-10812.779297,-10812.787109,-10812.800781,-10812.778320,-10812.785156,-10812.759766,-10812.777344,-10812.786133
2,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-10812.744141,-10812.762695,-10812.779297,-10812.787109,-10812.800781,-10812.778320,-10812.785156,-10812.759766,-10812.777344,-10812.765625
3,3,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-10815.500000,-10815.431641,-10815.430664,-10815.484375,-10815.455078,-10815.422852,-10815.360352,-10815.242188,-10815.304688,-10815.361328
4,4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-10812.744141,-10812.762695,-10812.779297,-10812.787109,-10812.800781,-10812.778320,-10812.785156,-10812.759766,-10812.777344,-10812.744141

In [7]:
df.drop(df[(df.h_x_4.isna()) | (df.h_y_4.isna())].index, inplace=True)

In [8]:
df.head()

,Unnamed: 0,label,h_x_0,h_x_1,h_x_2,h_x_3,h_x_4,h_y_0,h_y_1,h_y_2,...,t_y_0,t_y_1,t_y_2,t_y_3,t_y_4,t_y_5,t_y_6,t_y_7,t_y_8,t_y_9
24,24,1.0,NaN,NaN,NaN,NaN,6701.396938,6701.286512,6701.115398,-10814.807567,...,-10814.640625,-10814.507812,-10814.387695,-10814.178711,-10813.854492,-10813.742188,-10813.620117,-10813.566406,-10813.458984,-10813.429688
25,25,1.0,NaN,NaN,NaN,NaN,6701.396938,6701.286512,6701.115398,-10814.807567,...,-10814.640625,-10814.507812,-10814.387695,-10814.178711,-10813.854492,-10813.742188,-10813.620117,-10813.566406,-10813.458984,-10813.404297
26,26,2.0,NaN,NaN,NaN,NaN,6706.197192,6706.301803,6706.449787,-10815.499558,...,-10815.377930,-10815.431641,-10815.402344,-10815.370117,-10815.307617,-10815.189453,-10815.251953,-10815.296875,-10815.300781,-10815.228516
27,27,1.0,NaN,NaN,NaN,NaN,6701.396938,6701.286512,6701.115398,-10814.807567,...,-10814.640625,-10814.507812,-10814.387695,-10814.178711,-10813.854492,-10813.742188,-10813.620117,-10813.566406,-10813.458984,-10813.379883
28,28,1.0,NaN,NaN,NaN,NaN,6701.396938,6701.286512,6701.115398,-10814.807567,...,-10814.640625,-10814.507812,-10814.387695,-10814.178711,-10813.854492,-10813.742188,-10813.620117,-10813.566406,-10813.458984,-10813.348633

In [9]:
label2category = {0: 'VEHICLE', 1: 'PEDASTRIAN', 2: 'CYCLIST'}

In [11]:
df['label'].value_counts(normalize=True)

1.0    0.795955
0.0    0.121552
2.0    0.082493
Name: label, dtype: float64