In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [2]:
model = 'int_ee_new_no_kalman_ph_10_maxhl_4'
results_dir = f'/media/cds-k/data/nuScenes/traj++_results_centerpoint_out_ped/{model}'
tracks = sorted(os.listdir(results_dir))

In [3]:
results_fde = dict()
results_ade = dict()

for track in tracks:
    results_fde[track] = list()
    results_ade[track] = list()
    #print(f"Results for: {model}")
    for ph in [2, 4, 6, 8, 10]:
        # print(f"-----------------PH: {ph} -------------------")
        perf_df = pd.DataFrame()
        for f in glob.glob(f"{results_dir}/{track}/{model}*_{ph}_fde_most_likely_z.csv"):
            dataset_df = pd.read_csv(f)
            perf_df = perf_df.append(dataset_df, ignore_index=True)
        del perf_df['Unnamed: 0']
        value = perf_df['value'][perf_df['type'] == 'ml'].mean()
        results_fde[track].append(value)
        # print(f"FDE @{ph*0.5}s: {value}")      
        del perf_df
        
        perf_df = pd.DataFrame()
        for f in glob.glob(f"{results_dir}/{track}/{model}*_{ph}_ade_most_likely_z.csv"):
            dataset_df = pd.read_csv(f)
            perf_df = perf_df.append(dataset_df, ignore_index=True)
        del perf_df['Unnamed: 0']
        value = perf_df['value'][perf_df['type'] == 'ml'].mean()
        results_ade[track].append(value)  
        # print(f"ADE @{ph*0.5}s: {value}")
        del perf_df

In [4]:
fde_df = pd.DataFrame.from_dict(results_fde, orient='index', columns=['@1s', '@2s', '@3s', '@4s', '@5s'])
fde_df

,@1s,@2s,@3s,@4s,@5s
georgia_on_square_2021-07-19-14-12-40_8,0.619302,1.120252,1.684887,2.331339,3.022346
georgia_on_square_2021-07-19-14-15-40_10,0.683798,1.336921,1.998207,2.689655,3.634664
meat_square3_2021-07-19-17-14-43_2,0.350911,0.697428,1.111531,1.481138,1.871118
meat_square3_2021-07-19-17-25-12_9,0.187425,0.286969,0.424517,0.577609,0.733474
mipt_cifra_arktika_lol_2021-06-10-22-01-27_0,0.311404,0.640670,1.117424,1.851764,2.611654
mipt_cifra_lol_2021-06-10-22-27-06_1,0.235831,0.680840,1.237413,1.798909,2.291464
mipt_kvant_2021-06-10-23-11-06_0,0.174519,0.339395,0.503236,0.671942,0.835749
stone_flower_add_2021-08-20-11-27-48_0,0.345635,0.539487,0.762522,1.044509,1.378851
stone_flower_add_2021-08-20-11-33-48_4,0.236822,0.522772,0.839850,1.212827,1.619842
stone_flower_add_2021-08-20-11-42-48_10,0.164470,0.333366,0.569467,0.792241,1.033772

In [5]:
ade_df = pd.DataFrame.from_dict(results_ade, orient='index', columns=['@1s', '@2s', '@3s', '@4s', '@5s'])
ade_df

,@1s,@2s,@3s,@4s,@5s
georgia_on_square_2021-07-19-14-12-40_8,0.454615,0.727914,0.995961,1.291432,1.597375
georgia_on_square_2021-07-19-14-15-40_10,0.510719,0.847312,1.173378,1.509031,1.887566
meat_square3_2021-07-19-17-14-43_2,0.263943,0.433989,0.625234,0.815964,1.008048
meat_square3_2021-07-19-17-25-12_9,0.151073,0.202118,0.265695,0.332896,0.405217
mipt_cifra_arktika_lol_2021-06-10-22-01-27_0,0.235494,0.396799,0.593593,0.859840,1.172383
mipt_cifra_lol_2021-06-10-22-27-06_1,0.166667,0.361411,0.608227,0.871271,1.131754
mipt_kvant_2021-06-10-23-11-06_0,0.133867,0.215735,0.298029,0.380907,0.463742
stone_flower_add_2021-08-20-11-27-48_0,0.264568,0.381501,0.487155,0.609158,0.745900
stone_flower_add_2021-08-20-11-33-48_4,0.181670,0.314645,0.462232,0.626205,0.803984
stone_flower_add_2021-08-20-11-42-48_10,0.129049,0.207721,0.309575,0.416423,0.526102