In [6]:
import pandas as pd
import numpy as np
import glob
import os

In [7]:
model = 'my_int_ee'
results_dir = f'/media/cds-k/data/nuScenes/traj++_results_centerpoint_out_ped/{model}'
tracks = sorted(os.listdir(results_dir))

In [8]:
results_fde = dict()
results_ade = dict()

for track in tracks:
    results_fde[track] = list()
    results_ade[track] = list()
    #print(f"Results for: {model}")
    for ph in [2, 4, 6, 8, 10]:
        # print(f"-----------------PH: {ph} -------------------")
        perf_df = pd.DataFrame()
        for f in glob.glob(f"{results_dir}/{track}/{model}*_{ph}_fde_most_likely_z.csv"):
            dataset_df = pd.read_csv(f)
            perf_df = perf_df.append(dataset_df, ignore_index=True)
        del perf_df['Unnamed: 0']
        value = perf_df['value'][perf_df['type'] == 'ml'].mean()
        results_fde[track].append(value)
        # print(f"FDE @{ph*0.5}s: {value}")      
        del perf_df
        
        perf_df = pd.DataFrame()
        for f in glob.glob(f"{results_dir}/{track}/{model}*_{ph}_ade_most_likely_z.csv"):
            dataset_df = pd.read_csv(f)
            perf_df = perf_df.append(dataset_df, ignore_index=True)
        del perf_df['Unnamed: 0']
        value = perf_df['value'][perf_df['type'] == 'ml'].mean()
        results_ade[track].append(value)  
        # print(f"ADE @{ph*0.5}s: {value}")
        del perf_df

In [9]:
fde_df = pd.DataFrame.from_dict(results_fde, orient='index', columns=['@1s', '@2s', '@3s', '@4s', '@5s'])
fde_df

,@1s,@2s,@3s,@4s,@5s
georgia_on_square_2021-07-19-14-12-40_8,0.586244,1.077862,1.618616,2.247851,2.891211
georgia_on_square_2021-07-19-14-15-40_10,0.626325,1.326152,1.986763,2.675499,3.602583
meat_square3_2021-07-19-17-14-43_2,0.394439,0.838372,1.321951,1.784989,2.236220
meat_square3_2021-07-19-17-25-12_9,0.245907,0.395428,0.589074,0.782842,0.983089
mipt_cifra_arktika_lol_2021-06-10-22-01-27_0,0.325848,0.686735,1.156786,1.805437,2.554337
mipt_cifra_lol_2021-06-10-22-27-06_1,0.217567,0.628631,1.164838,1.708434,2.186119
mipt_kvant_2021-06-10-23-11-06_0,0.172270,0.336175,0.494837,0.655769,0.822599
stone_flower_add_2021-08-20-11-27-48_0,0.354570,0.596095,0.896532,1.254345,1.646818
stone_flower_add_2021-08-20-11-33-48_4,0.245102,0.526730,0.848241,1.229357,1.656810
stone_flower_add_2021-08-20-11-42-48_10,0.182687,0.343282,0.580992,0.798552,1.027882

In [10]:
ade_df = pd.DataFrame.from_dict(results_ade, orient='index', columns=['@1s', '@2s', '@3s', '@4s', '@5s'])
ade_df

,@1s,@2s,@3s,@4s,@5s
georgia_on_square_2021-07-19-14-12-40_8,0.422946,0.694515,0.954736,1.242069,1.535483
georgia_on_square_2021-07-19-14-15-40_10,0.459803,0.810532,1.148572,1.488853,1.860066
meat_square3_2021-07-19-17-14-43_2,0.293949,0.507317,0.739492,0.972162,1.202383
meat_square3_2021-07-19-17-25-12_9,0.190768,0.272353,0.362780,0.454874,0.550290
mipt_cifra_arktika_lol_2021-06-10-22-01-27_0,0.243569,0.418307,0.622752,0.874856,1.173404
mipt_cifra_lol_2021-06-10-22-27-06_1,0.157929,0.333990,0.567781,0.819760,1.070207
mipt_kvant_2021-06-10-23-11-06_0,0.132064,0.213144,0.294034,0.374404,0.455562
stone_flower_add_2021-08-20-11-27-48_0,0.269712,0.405392,0.541721,0.696562,0.866831
stone_flower_add_2021-08-20-11-33-48_4,0.186232,0.317855,0.466738,0.633234,0.815652
stone_flower_add_2021-08-20-11-42-48_10,0.141175,0.219762,0.322786,0.427753,0.533949