In [34]:
import pandas as pd
import numpy as np
import glob
import os

In [35]:
model = 'my_int_ee_new'
results_dir = f'/media/cds-k/data/nuScenes/traj++_results_centerpoint_out_ped/{model}'
tracks = sorted(os.listdir(results_dir))

In [36]:
results_fde = dict()
results_ade = dict()

for track in tracks:
    results_fde[track.split('.pkl')[0]] = list()
    results_ade[track.split('.pkl')[0]] = list()
    #print(f"Results for: {model}")
    for ph in [2, 4, 6, 8, 10]:
        # print(f"-----------------PH: {ph} -------------------")
        perf_df = pd.DataFrame()
        for f in glob.glob(f"{results_dir}/{track}/{model}*_{ph}_fde_most_likely_z.csv"):
            dataset_df = pd.read_csv(f)
            perf_df = perf_df.append(dataset_df, ignore_index=True)
        del perf_df['Unnamed: 0']
        value = perf_df['value'][perf_df['type'] == 'ml'].mean()
        results_fde[track.split('.pkl')[0]].append(value)
        # print(f"FDE @{ph*0.5}s: {value}")      
        del perf_df
        
        perf_df = pd.DataFrame()
        for f in glob.glob(f"{results_dir}/{track}/{model}*_{ph}_ade_most_likely_z.csv"):
            dataset_df = pd.read_csv(f)
            perf_df = perf_df.append(dataset_df, ignore_index=True)
        del perf_df['Unnamed: 0']
        value = perf_df['value'][perf_df['type'] == 'ml'].mean()
        results_ade[track.split('.pkl')[0]].append(value)  
        # print(f"ADE @{ph*0.5}s: {value}")
        del perf_df

In [40]:
fde_df = pd.DataFrame.from_dict(results_fde, orient='index', columns=['@1s', '@2s', '@3s', '@4s', '@5s'])
fde_df.describe()

             @1s        @2s        @3s        @4s        @5s
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.355704   0.712649   1.131327   1.592358   2.087841
std     0.173212   0.322910   0.487357   0.674096   0.919436
min     0.181389   0.363492   0.542132   0.716190   0.896163
25%     0.249855   0.547796   0.807643   1.087069   1.393329
50%     0.308927   0.613293   1.036327   1.600269   2.063307
75%     0.388945   0.803495   1.312048   1.825937   2.488471
max     0.697582   1.396497   2.144502   2.946300   3.982810

In [38]:
ade_df = pd.DataFrame.from_dict(results_ade, orient='index', columns=['@1s', '@2s', '@3s', '@4s', '@5s'])
ade_df

,@1s,@2s,@3s,@4s,@5s
georgia_on_square_2021-07-19-14-12-40_8,0.450615,0.721945,0.983004,1.262150,1.552713
georgia_on_square_2021-07-19-14-15-40_10,0.516794,0.872086,1.235140,1.611959,2.033183
meat_square3_2021-07-19-17-14-43_2,0.301096,0.513212,0.744545,0.978685,1.209716
meat_square3_2021-07-19-17-25-12_9,0.239758,0.358718,0.484603,0.612396,0.744527
mipt_cifra_arktika_lol_2021-06-10-22-01-27_0,0.235160,0.395113,0.588934,0.849978,1.154060
mipt_cifra_lol_2021-06-10-22-27-06_1,0.173876,0.365481,0.617809,0.885470,1.146610
mipt_kvant_2021-06-10-23-11-06_0,0.139928,0.228841,0.318621,0.407292,0.495864
stone_flower_add_2021-08-20-11-27-48_0,0.269023,0.394467,0.514250,0.654427,0.811159
stone_flower_add_2021-08-20-11-33-48_4,0.202740,0.353657,0.525215,0.716665,0.925128
stone_flower_add_2021-08-20-11-42-48_10,0.139886,0.236902,0.359961,0.491086,0.623071