In [11]:
import pandas as pd
import numpy as np
import glob
import os

In [16]:
model = 'int_ee_ph_10_maxhl_4'
results_dir = f'/media/cds-k/data/nuScenes/traj++_results_centerpoint_out_veh/{model}'
tracks = sorted(os.listdir(results_dir))

In [17]:
results_fde = dict()
results_ade = dict()

for track in tracks:
    results_fde[track] = list()
    results_ade[track] = list()
    #print(f"Results for: {model}")
    for ph in [2, 4, 6, 8, 10]:
        # print(f"-----------------PH: {ph} -------------------")
        perf_df = pd.DataFrame()
        for f in glob.glob(f"{results_dir}/{track}/{model}*_{ph}_fde_most_likely_z.csv"):
            dataset_df = pd.read_csv(f)
            perf_df = perf_df.append(dataset_df, ignore_index=True)
        del perf_df['Unnamed: 0']
        value = perf_df['value'][perf_df['type'] == 'ml'].mean()
        results_fde[track].append(value)
        # print(f"FDE @{ph*0.5}s: {value}")      
        del perf_df
        
        perf_df = pd.DataFrame()
        for f in glob.glob(f"{results_dir}/{track}/{model}*_{ph}_ade_most_likely_z.csv"):
            dataset_df = pd.read_csv(f)
            perf_df = perf_df.append(dataset_df, ignore_index=True)
        del perf_df['Unnamed: 0']
        value = perf_df['value'][perf_df['type'] == 'ml'].mean()
        results_ade[track].append(value)  
        # print(f"ADE @{ph*0.5}s: {value}")
        del perf_df

In [20]:
fde_df = pd.DataFrame.from_dict(results_fde, orient='index', columns=['@1s', '@2s', '@3s', '@4s', '@5s'])
fde_df

,@1s,@2s,@3s,@4s,@5s
georgia_on_square_2021-07-19-14-12-40_8,NaN,NaN,NaN,NaN,NaN
georgia_on_square_2021-07-19-14-15-40_10,NaN,NaN,NaN,NaN,NaN
meat_square3_2021-07-19-17-14-43_2,NaN,NaN,NaN,NaN,NaN
meat_square3_2021-07-19-17-25-12_9,NaN,NaN,NaN,NaN,NaN
mipt_cifra_arktika_lol_2021-06-10-22-01-27_0,0.188616,0.364089,0.591481,0.832949,1.107756
mipt_cifra_lol_2021-06-10-22-27-06_1,NaN,NaN,NaN,NaN,NaN
mipt_kvant_2021-06-10-23-11-06_0,NaN,NaN,NaN,NaN,NaN
stone_flower_add_2021-08-20-11-27-48_0,NaN,NaN,NaN,NaN,NaN
stone_flower_add_2021-08-20-11-33-48_4,NaN,NaN,NaN,NaN,NaN
stone_flower_add_2021-08-20-11-42-48_10,NaN,NaN,NaN,NaN,NaN

In [21]:
ade_df = pd.DataFrame.from_dict(results_ade, orient='index', columns=['@1s', '@2s', '@3s', '@4s', '@5s'])
ade_df

,@1s,@2s,@3s,@4s,@5s
georgia_on_square_2021-07-19-14-12-40_8,NaN,NaN,NaN,NaN,NaN
georgia_on_square_2021-07-19-14-15-40_10,NaN,NaN,NaN,NaN,NaN
meat_square3_2021-07-19-17-14-43_2,NaN,NaN,NaN,NaN,NaN
meat_square3_2021-07-19-17-25-12_9,NaN,NaN,NaN,NaN,NaN
mipt_cifra_arktika_lol_2021-06-10-22-01-27_0,0.146035,0.228984,0.329504,0.439166,0.55976
mipt_cifra_lol_2021-06-10-22-27-06_1,NaN,NaN,NaN,NaN,NaN
mipt_kvant_2021-06-10-23-11-06_0,NaN,NaN,NaN,NaN,NaN
stone_flower_add_2021-08-20-11-27-48_0,NaN,NaN,NaN,NaN,NaN
stone_flower_add_2021-08-20-11-33-48_4,NaN,NaN,NaN,NaN,NaN
stone_flower_add_2021-08-20-11-42-48_10,NaN,NaN,NaN,NaN,NaN

In [12]:
(0. + 1.98)/2

1.345

In [14]:
(0.07 + 1.98) / 2

1.025